---
const { experience } = Astro.props
---

<div class="flex items-start justify-between flex-col sm:flex-row dark:text-light">
  <h2 class="w-[15rem] mt-12">EXPERIENCE</h2>
  <div class="w-full mt-12">
    {
      experience.map((xp) => (
        <div class="mb-12">
          <div class="flex justify-between items-center flex-wrap">
            <span class="font-semibold text-xl">{xp.name}</span>

            <span class="text-sm dark:text-gray my-2">{xp.start} - {xp.end}</span>
          </div>
          <div class="text-sm mt-0 mb-2 text-blue">{xp.location}</div>

          <ul class="mt-4">
            {xp.description.map((xp) => (
              <li class="dark:text-gray leading-relaxed">{xp}</li>
            ))}
          </ul>
        </div>
      ))
    }
  </div>
</div>