---
import { getCollection } from 'astro:content';
import Layout from "@layouts/Layout.astro";
import ProjectCard from '@components/general/ProjectCard.astro';

export async function getStaticPaths() {
  const projectsEntries = await getCollection('projects');
  return projectsEntries.map(entry => ({
    params: { slug: entry.slug }, props: { entry },
  }));
}

const { entry } = Astro.props;
const { Content } = await entry.render();
---

<Layout subtitle={entry.data.name}>
  <h2 class="rainbow mt-6 mb-4">{entry.data.title}</h2>

  <div class="mb-8">
    {entry.data.video
      ? <video width="100%" height="100%" controlslist="nodownload noplaybackrate" controls disablepictureinpicture autoplay>
          <source src={`/projects/${entry.data.name}.mp4`} type="video/mp4" />
      </video>
      : <ProjectCard project={entry} hyperlink={false} />
    }
  </div>

  <div class="dark:text-light">
    <Content />
  </div>
</Layout>