---
import info from "@data/info.json";
import { getCollection } from 'astro:content';
import Layout from "@layouts/Layout.astro";
import Tag from "@components/general/Tag.astro";
import Prose from "@components/general/Prose.astro";
import ProjectCard from '@components/general/ProjectCard.astro';

export async function getStaticPaths() {
  const projectsEntries = await getCollection('projects');
  return projectsEntries.map(entry => ({
    params: { slug: entry.slug }, props: { entry },
  }));
}

const { entry } = Astro.props;
const { Content } = await entry.render();
const title = `${entry.data.name}`
---

<Layout title={title} socials={info.socials}>
  <div class="mt-6 mb-4">
    <span class="title rainbow">{entry.data.title}</span>
  </div>
  
  <div class="mb-8">
    <ProjectCard project={entry} hyperlink={false} />
    <Tag tags={entry.data.tags} />
  </div>
  
  <Prose>
    <Content />
  </Prose>
  
</Layout>